<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Tab Component</h1>
        </div>
      </div>

      <div class="nav-cont">
        <div class="row">
          <div class="col-12">
            <nav>
              <ul>
                <li><a href="#tab1" id="nav-tab-1" class="nav-tab" data-panel="1">Tab Label 1</a></li>
                <li><a href="#tab2" id="nav-tab-2" class="nav-tab" data-panel="2">Tab Label 2</a></li>
                <li><a href="#tab3" id="nav-tab-3" class="nav-tab" data-panel="3">Tab Label 3</a></li>
                <li><a href="#tab4" id="nav-tab-4" class="nav-tab" data-panel="4">Tab Label 4</a></li>
                <li><a href="#tab5" id="nav-tab-5" class="nav-tab" data-panel="5">Tab Label 5</a></li>
                <li><a href="#tab6" id="nav-tab-6" class="nav-tab" data-panel="6">Tab Label 6</a></li>
                <li><a href="#tab7" id="nav-tab-7" class="nav-tab" data-panel="7">Tab Label 7</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div id="tab-1" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 1</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-2" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-3" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 3</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-4" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 4</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-5" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 5</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-6" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 6</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-7" class="tabs-cont">
        <div class="row">
          <div class="col-12 order-md-2">
            <div class="img-cont">
              <img id="surtseyVolcanoImg" alt="Surtsey Volcano Image" />
              <p class="img-foot-note">Surtsey, sixteen days after the onset of the eruption</p>
            </div>
          </div>
          <div class="col-12 order-md-1">
            <div class="text-cont">
              <h2>Tab 7</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis provident unde cumque tenetur quasi rem, voluptatum, sapiente qui molestias praesentium. Maxime optio pariatur cum vitae dicta? In, laborum dolorem! Temporibus inventore alias harum voluptas doloremque, error dignissimos reprehenderit placeat, voluptatum eum sapiente aut soluta, omnis expedita! Odit, similique commodi dignissimos ipsa praesentium dolor, facilis dolores, voluptatem quos ratione cum? Pariatur corrupti vitae eaque sed sunt. Eius et quia architecto, libero sit eligendi quibusdam quos eaque cumque ut ab quisquam minus natus sint voluptates iste illum. Nulla magni minima dignissimos. Eligendi tempora dicta aperiam ipsum omnis unde quibusdam ratione ea. Nisi, voluptatem harum fuga veniam consectetur eligendi quae possimus? Dicta hic cum sit sed, quos quas doloribus eius mollitia ea.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
