.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  .my-row {
    margin: 0 -12px;
    
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
    }

    .half-size-md {
      width: 100%;
      padding: 0 12px;

      @media (min-width: 768px) {
        max-width: 50%;
      }
    }
  }
}
